<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xupt.edu.zwy.platformofhoping.dao.IAdminDao">
    <sql id="Base_Column_List">
      id,
      admin_id,
      admin_name,
      valid,
      create_time,
      update_time
    </sql>

    <select id="isAdmin" resultType="com.xupt.edu.zwy.platformofhoping.model.Admin"
            parameterType="java.lang.String">
        select * from admin  where admin_name = #{adminName} and valid=1;
    </select>

    <select id="isEverAdmin" resultType="com.xupt.edu.zwy.platformofhoping.model.Admin"
            parameterType="com.xupt.edu.zwy.platformofhoping.dto.AdminReq">
                select * from admin where admin_name=#{adminName} and valid=0;
    </select>

    <update id="deleteAdmin" parameterType="com.xupt.edu.zwy.platformofhoping.dto.AdminReq">
        update admin set valid=0 where admin_id=#{adminId};
    </update>

    <insert id="addAdminWithNoSign" parameterType="com.xupt.edu.zwy.platformofhoping.dto.AdminReq">
        insert into admin (admin_id,admin_name,valid) values (#{adminId},#{adminName},1);
    </insert>

    <update id="addAdminWithSign" parameterType="com.xupt.edu.zwy.platformofhoping.dto.AdminReq">
        update admin set valid =1 where admin_name=#{adminName};
    </update>

    <select id="selectAdminList" parameterType="com.xupt.edu.zwy.platformofhoping.dto.AdminReq" resultType="com.xupt.edu.zwy.platformofhoping.model.Admin">
        select * from admin
        <where>
            valid=1
            <if test="adminName!=null and adminName!=''">
                and admin_name like CONCAT('%',#{adminName}, '%')
            </if>
        </where>
        order by update_time desc
    </select>
</mapper>