<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xupt.edu.zwy.platformofhoping.dao.ICommentDao">
    <sql id="Base_Column_List">
      id,
      comment_id,
      news_id,
      reviewer,
      comment_content,
      create_time,
      update_time
    </sql>

    <select id="selectCommentByNewsId" resultType="com.xupt.edu.zwy.platformofhoping.model.Comment"
            parameterType="String">
        select * from comment where news_id=#{newsId} order by update_time desc
    </select>

    <insert id="addComment" parameterType="com.xupt.edu.zwy.platformofhoping.dto.CommentReq">
        insert into comment (comment_id,news_id,reviewer,comment_content) values
        (#{commentId},#{newsId},#{reviewer},#{commentContent});
    </insert>
</mapper>