<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xupt.edu.zwy.platformofhoping.dao.IPictureDao">
    <sql id="Base_Column_List">
      id,
      picture_id,
      news_id;
      picture_path,
      create_time,
      update_time
    </sql>
    <select id="getNewsHomeInfo" resultType="com.xupt.edu.zwy.platformofhoping.dto.NewsHomeDto">
        select picture_path,news_id from picture order by update_time desc limit 0,4;
    </select>

    <insert id="addPicture" parameterType="com.xupt.edu.zwy.platformofhoping.dto.NewsAddReq">
        insert into picture (picture_id,news_id,picture_path) values (#{pictureId},#{newsId},#{picturePath});
    </insert>

    <update id="updatePicture" parameterType="com.xupt.edu.zwy.platformofhoping.dto.NewsAddReq">
        update picture
        <set>
            <if test="newsId !=null and newsId != ''">
                news_id=#{newsId},
            </if>
            <if test="picturePath !=null and picturePath != ''">
                picture_path=#{picturePath}
            </if>
        </set>
        where picture_id=#{pictureId}
    </update>

    <select id="selectPictureByNewsId" parameterType="java.lang.String" resultType="com.xupt.edu.zwy.platformofhoping.model.Picture">
        select * from picture where news_id=#{newsId} order by update_time desc;
    </select>

    <delete id="deletePictureById" parameterType="java.lang.String">
        delete * from picture where news_id=#{newsId}
    </delete>
</mapper>