<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xupt.edu.zwy.platformofhoping.dao.INewsDao">
    <sql id="Base_Column_List">
      id,
      reply_id,
      comment_id,
      replier,
      reply_content,
      create_time,
      update_time
    </sql>
    <select id="selectReplyByCommentId" resultType="com.xupt.edu.zwy.platformofhoping.model.Reply"
            parameterType="String">
        select * from reply where comment_id=#{commentId} order by update_time desc
    </select>
    <insert id="addReply" parameterType="com.xupt.edu.zwy.platformofhoping.dto.ReplyReq">
        insert into reply (reply_id,comment_id,replier,reply_content) values
        (#{replyId},#{commentId},#{replier},#{replyContent});
    </insert>
</mapper>