<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xupt.edu.zwy.platformofhoping.dao.IUserDao">
    <sql id="Base_Column_List">
      id,
      user_id,
      school,
      college,
      profession,
      user_sno,
      community,
      minister,
      user_name,
      password,
      valid,
      sex,
      age,
      email,
      phone,
      create_time,
      update_time
    </sql>

    <insert id="addUser" parameterType="com.xupt.edu.zwy.platformofhoping.model.User">
        insert into user (user_id,school,college,profession,user_sno,community,minister,user_name,sex,age,email,phone,password,valid) values
        (#{userId},#{school},#{college},#{profession},#{userSno},#{community},#{minister},#{userName},#{sex},#{age},#{email},#{phone},#{password},1);
    </insert>

    <select id="isRightInfo" parameterType="com.xupt.edu.zwy.platformofhoping.dto.UserLoginReq"
            resultType="com.xupt.edu.zwy.platformofhoping.model.User">
        select * from user where school=#{school} and user_sno=#{userSno} and password=#{password} and valid=1;
    </select>

    <select id="isUser" parameterType="java.lang.String"
            resultType="com.xupt.edu.zwy.platformofhoping.model.User">
        select * from user where user_name=#{userName} and valid=1;
    </select>

    <select id="selectUserByUserId" parameterType="java.lang.String"
            resultType="com.xupt.edu.zwy.platformofhoping.model.User">
        select * from user where user_id=#{userId} and valid=1;
    </select>

    <select id="selectUserList" parameterType="com.xupt.edu.zwy.platformofhoping.dto.UserListDto"
            resultType="com.xupt.edu.zwy.platformofhoping.model.User">
        select * from user
        <where>
            valid=1
            <if test="school != null and school != ''">
                and school like CONCAT('%',#{school}, '%')
            </if>
            <if test="userSno != null and userSno != ''">
                and user_sno like CONCAT('%',#{userSno}, '%')
            </if>
            <if test="community != null and community != ''">
                and community like CONCAT('%',#{community}, '%')
            </if>
            <if test="userName != null and userName != ''">
                and user_name like CONCAT('%',#{userName}, '%')
            </if>
            <if test="email != null and email != ''">
                and email like CONCAT('%',#{email}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone like CONCAT('%',#{phone}, '%')
            </if>
        </where>
        order by update_time desc
    </select>

    <update id="updateUser" parameterType="com.xupt.edu.zwy.platformofhoping.model.User">
        update user
        <set>
            <if test="college!=null and college!=''">
                college=#{college},
            </if>
            <if test="profession!=null and profession!=''">
                profession=#{profession},
            </if>
            <if test="minister!=null and minister >= 0">
                minister=#{minister},
            </if>
            <if test="password!=null and password!=''">
                password=#{password},
            </if>
            <if test="sex !=null and sex!=''">
                sex=#{sex},
            </if>
            <if test="age!=null and age > 0">
                age=#{age},
            </if>
            <if test="school != null and school != ''">
                school=#{school},
            </if>
            <if test="userSno != null and userSno != ''">
                user_sno=#{userSno},
            </if>
            <if test="community != null and community != ''">
                community=#{community},
            </if>
            <if test="userName != null and userName != ''">
                user_name=#{userName},
            </if>
            <if test="email != null and email != ''">
                email=#{email},
            </if>
            <if test="phone != null and phone != ''">
                phone=#{phone}
            </if>
        </set>
        where user_id=#{userId} and valid=1;
    </update>

    <update id="deleteUser" parameterType="com.xupt.edu.zwy.platformofhoping.dto.UserListDto">
        update user set valid=0 where user_id=#{userId};
    </update>

    <select id="minister" parameterType="java.lang.String" resultType="com.xupt.edu.zwy.platformofhoping.model.User">
        select * from user where user_name=#{userName} and minister=1 and valid=1;
    </select>
</mapper>